@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

:root {
  font-size: 20px;
}

body {
  background-color: #000;
  color: antiquewhite;
  padding-left: 1em;
  padding-right: 1em;
}

h1 {
  text-align: center;
}

p {
  font-size: 1.25em;
  padding-left: 1em;
}

